<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=360, initial-scale=0.75 user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

        <title>
            主页-

            V8EX演示网站
        </title>

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/base.css" rel="stylesheet">
        <!-- <link href="./主页- FairyBBS演示网站_files/codehilite.css" rel="stylesheet"> -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">V8EX</a>
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="http://fairybbs.com/recent/">最近主题</a></li>
                     <li class=""><a href="http://fairybbs.com/node/">所有节点</a></li>

                </ul>
                    <div class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input onkeydown="if(event.keyCode==13){search();}" type="text" id="search" class="form-control" name="search" placeholder="输入关键词">
                        </div>
                        <a class="btn btn-default" id="search-btn">
                            搜索
                        </a>
                    </div>
                </div>
            </div><!--end nav container-->
        </nav><!--end nav-->

        <div id="wrap">
            <div class="container" id="main">
                <div class="row">

{% block main %}
<div class="col-md-8" id="left">

</div><!--end left-->
{% endblock %}

<div class="col-md-4" id="right">

{# 登陆模块 #}
{% block login %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        什么是FairyBBS
         </h3>
    </div>
    <div class="panel-body">
        <p class="text-center">
            FairyBBS是使用Django框架建立的小型论坛系统
        </p>
        <div class="row">
            <div class="col-md-6">
                <a href="http://fairybbs.com/user/signin/" class="btn btn-block btn-info">登陆</a>
            </div>
            <div class="col-md-6">
                <a href="http://fairybbs.com/user/reg/" class="btn btn-block btn-default">注册</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# 登陆模块结束 #}

{# 节点模块 #}
{% block category %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                节点
        </h3>
    </div>
    <div class="panel-body">
        {% for category in categories %}
            <span class="label label-default list-meta-node"><a href="#">{{ category.name }}</a></span>
        {% endfor %}


    </div>
</div>
{% endblock %}
{# 节点模块结束 #}

{# 链接模块 #}
{% block link %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                链接
        </h3>
    </div>
    <ul class="list-group">

        <li class="list-group-item">
        <iframe src="#" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <iframe src="#" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </li>
        <li class="list-group-item">
        <a href="https://www.digitalocean.com/?refcode=c532c5ed406f"><img src="./主页- FairyBBS演示网站_files/DO.png" style="max-width:100%; display:block;"></a>
        </li>
    </ul>
</div>
{% endblock %}
{# 链接模块结束 #}


{# 站点模块 #}
{% block site %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
                站点统计
        </h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            用户数量:149
        </li>
        <li class="list-group-item">
            话题数量:43
        </li>
        <li class="list-group-item">
            回复数目:155
        </li>
    </ul>
</div>
{% endblock %}
{# 站点模块结束 #}


</div><!--end right-->

                </div><!--end outter row-->
            </div><!--end main-->
        </div><!--end wrap-->

        <footer id="footer">
            <div class="container clearfix">
                <div class="text-muted pull-left">
                   <p>
					A <a target="_blank" href="http://djangoproject.com/">Django</a> project</p>
                </div>
                <p class="muted credit pull-right">
                    ©
                    <time>
                        2015
                    </time>
                    Powered by <a href="#">朱洁高</a> 0.1.0
                </p>
            </div>
        </footer>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/search.js"></script>

	<!--zh-cn-->


</body></html>