{% extends 'detail.html' %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading title-breadcrumb">
        <a href="/">V8EX</a>
        <span>新话题</span>
    </div>
    <div class="panel-body">
        <form class="form" action="/post/" method="post">
            <select class="form-control" name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br>
            <div class="form-group ">
                <label class="sr-only" for="title">标题</label>
                <input placeholder="标题" type="text" class="form-control" id="title" name="title" />
            </div>
            <div class="form-group ">
                <label class="sr-only" for="content">内容</label>
                <textarea placeholder="内容"  class="form-control" id="content" name="content"></textarea>
            </div>
            <div class="form-submit text-right">
                <button class="btn btn-info" type="submit" id="submit">提交(Submit)</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}